{% extends 'portfolio/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %} bobportfolio.uk {% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/index.css' %}" />
{% endblock %}

{% block content %}

<div class="container">
  <div class="row" style="padding:10px">
        <div class="col-md-5"><h1>bobportfolio.uk</h1></div>
        <div class="col-md-7">
            <p class="lead" style="padding:10px">
                The resume and computing portfolio of Robert Smith, Brighton
            </p>
        </div>
  </div>
</div>

<div id="myCarousel" class="carousel slide carousel-dark"  data-bs-ride="carousel">
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
  </div>
  
  <!-- Wrapper for slides -->   
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active home-carousel">
	  <a href="portfolio">
		<img src="{% static 'portfolio/images/portfolio.jpg' %}" alt="Portfolio"/>
	  </a>
    </div>

    <div class="carousel-item home-carousel">
	  <a href="resume/main">
        <img src="{% static 'portfolio/images/resume.jpg' %}" alt="Resume"/>
	  </a>
    </div>

    <div class="carousel-item home-carousel">
	  <a href="http://bobportfolio.uk/#">
          <img src="{% static 'portfolio/images/wellbeing.jpg' %}" alt="Wellbeing"/>
	  </a>
    </div>
  </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<div class="container simple-buttons">
  <p></p>
  <a href="portfolio" type="button" class="btn btn-primary btn-lg">Portfolio</a>
  <a href="resume/main" type="button" class="btn btn-success btn-lg">Resume</a>
  <a href="#" type="button" class="btn btn-warning btn-lg">Wellbeing</a>
</div>

{% endblock %}
