{% extends 'portfolio/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %} bobportfolio.uk - portfolio {% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/projects.css' %}" />
{% endblock %}

{% block navbar %}
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link active" href="#">Projects</a>
    <a class="nav-item nav-link" href="/resume/featured">Resume</a>
    <a class="nav-item nav-link" href="/wellbeing">Wellbeing</a>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="title">
            <h1>Projects</h1>
        </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <div class="search-box">
            <input type="text" id="myInput" onkeyup="keywordSearch()" placeholder="keyword search...">
            <span class="tooltiptext">enter one or more keywords. Separate with spaces</span>
        </div>
    </div>
</div>

<div>
<table id="myTable" class="table table-striped table-bordered">
<thead>
    <tr>
        <td width="24%">name / description</td>
        <td width="12%">code</td>
        <td width="24%">link</td>
        <td width="40%">keywords</td>
    </tr>
</thead>
    {% for project in projects %}
    <tr>
        <td class="project-hover">
            {{ project.project_name }}&nbsp;&#9432;&nbsp;&nbsp;
            <span class="description">
                {{ project.description }}
                <br><br>
                <a href="{{ project.source_code_url_fk.url }}">Read full description on github</a>
            </span>
        </td>
        <td><a href="{{ project.source_code_url_fk.url }}">{{ project.source_code_url_fk.site_name }}</a></td>
        <td><a href="{{ project.site_url_fk.url }}">{{ project.site_url_fk.site_name }}</a></td>
        <td class="project-hover">{{ project.keywords }}</td>
    </tr>    
    {% endfor %}
</table>
</div>
<div>
    <em>mouseover project name to see description</em>
</div>
{% endblock %}

{% block scripts %}
<script>
function keywordSearch() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  keywords = input.value.toLowerCase().split(" ");
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      txtValue = td.textContent;
      display = true;
      for (item of keywords) {
        if (txtValue.indexOf(item) <= -1) {
          display = false;
        }
      }
      if (display) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
{% endblock %}
