/* css for projects page */

#myInput {
  background-image: url('images/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  float: right;
  width: 40%;
  font-size: 16px;
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-top: 24px;
  margin-bottom: 24px;
}

.tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  float: right;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: relative;
  z-index: 1;
  top: 20px;
  left: -24px;
}

.search-box:hover .tooltiptext {
  visibility: visible;
}


.description {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  float: right;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.project-name:hover .description {
  visibility: visible;
}
